

body {
  background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(244, 244, 244, 1);

}



.search {
  text-align: center;
}

#root{
  position: relative;
  overflow: hidden;
  /* padding-top: 56.25%; */
  width: 640px;
  height: 480px;
  margin: auto;
  margin-top: 5%;

}



#ifrm {
  display: none;
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}

#root2{
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  background-color: white;
  color: black;
  border: solid #205936 3px;
  margin: 40px;
}

#displayItem{
  text-align: center;
}

#recipes, #item, #zipcode {
  width: 350px;
  height: 30px;
  font-size: 20px;
  /* background-color: #00a854; */

}

.button {
  height: 30px;
  font-size: 20px;
  background-color: #919996;
  margin-top: 10px;

}

/* .box {
  margin: 30px;
  background-color: gray;
  opacity: 0.6;
} */

.header {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #205936;
  opacity: 0.8;


}

#loader {
  display: none;
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #205936;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-content: center;
  margin-left: 40%;
}

@keyframes spin {
  display: none;
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
